/ schoolHelp/nbproject/private/
/ schoolHelp/build/
/SchoolHelp/SchoolHelp/nbproject/private/
/SchoolHelp/SchoolHelp/dist/
/SchoolHelp/SchoolHelp/build/
/HelpSchool/nbproject/private/
/HelpSchool/build/